# 移动端
mobile-web/build/
mobile-web/node_modules/
mobile-web/.idea/
mobile-web/.DS_Store
mobile-web/.git/

# vscode配置
.vscode/
.idea/
# PC端
admin-dashboard/node_modules/
admin-dashboard/.git/

# 后端
backend/.idea/
backend/target/
backend/.DS_Store

.DS_Store